---
import { PtTypeComponentProps } from "../types";
import { unknownTypeWarning } from "../warnings";
import "../styles/unknown.css"

const { node, isInline } = Astro.props as PtTypeComponentProps;
const { _type } = node;
const warning = unknownTypeWarning(_type);
---
{isInline ? (
  <span data-portabletext-unknown="type">{warning}</span>
) : (
  <div data-portabletext-unknown="type">{warning}</div>
)}
