---
import { Props, ListItem } from "../types";
import { unknownListItemStyleWarning } from "../warnings";

const { node } = Astro.props as Props<ListItem>;
const { listItem } = node;
const warning = unknownListItemStyleWarning(listItem);
---

<li data-portabletext-unknown="listitem">{warning}</li>
