---
import { PtListItemComponentProps } from "../types";
import { unknownListItemStyleWarning } from "../warnings";
import "../styles/unknown.css"

const { node } = Astro.props as PtListItemComponentProps;
const { listItem } = node;
const warning = unknownListItemStyleWarning(listItem);
---

<li data-portabletext-unknown="listitem">{warning}</li>
