---
import { Props } from "../types";
import { unknownTypeWarning } from "../warnings";

const { node, isInline } = Astro.props as Props;
const warning = unknownTypeWarning(node._type);
---

{isInline ? (
  <span data-portabletext-unknown="type">{warning}</span>
) : (
  <div data-portabletext-unknown="type">{warning}</div>
)}

<style>
  [data-portabletext-unknown="type"] {
    display: none;
  }
</style>
