---
import { Props } from "../types";
import { unknownTypeWarning } from "../warnings";

const { node, isInline } = Astro.props as Props;
const warning = unknownTypeWarning(node._type);
---

{isInline ? (
  <span style="display:none" data-portabletext-unknown="type">{warning}</span>
) : (
  <div style="display:none" data-portabletext-unknown="type">{warning}</div>
)}
