---
import { PtBlockComponentProps } from "../types";
import { unknownBlockStyleWarning } from "../warnings";
import "../styles/unknown.css"

const { node, isInline } = Astro.props as PtBlockComponentProps;
const warning = unknownBlockStyleWarning(node.style ?? "normal");
---
{isInline ? (
  <span data-portabletext-unknown="blockstyle">{warning}</span>
) : (
  <div data-portabletext-unknown="blockstyle">{warning}</div>
)}
