---
const packageName = "astro-portabletext";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{packageName} :: demo</title>
  </head>
  <body>
    <header>
      <p class="page-title">
        <a
          href="https://github.com/theisel/astro-portabletext"
          title={`${packageName} Github page`}>{packageName}</a
        >
      </p>
      <p class="intro">A simple demonstration</p>
    </header>
    <main>
      <slot />
    </main>
    <style>
      body {
        margin: 0;
        padding: 2rem;
      }
      main {
        max-width: 720px;
        margin: 0 auto 3rem auto;
      }
      header {
        border-bottom: 2px solid;
        font-size: 2rem;
        text-align: center;
      }
      .page-title {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 2rem 0;
      }
      .intro {
        font-size: 1.5rem;
        text-align: center;
      }
    </style>
    <style is:global>
      h1 {
        color: salmon;
      }
      h2 {
        color: olivedrab;
      }
      blockquote {
        border-left: 8px solid #ccc;
        margin-left: 0;
        margin-right: 2rem;
        padding-left: 2rem;
      }
    </style>
  </body>
</html>
