---
import type { Props as $, TypedObject } from "astro-portabletext/types";
import { Counter } from "./Counter";

export type Props = $<TypedObject>;

const props = Astro.props;
const { node, index, isInline, ...attrs } = props;
---

{
  isInline ? (
    <span {...attrs} data-inline={String(isInline)}>
      JSX Inline Counter
      {` `}
      <Counter client:idle {...props} />
    </span>
  ) : (
    <div {...attrs} data-inline={String(isInline)}>
      <h4 class="counter__title">JSX Block Counter</h4>
      <Counter client:idle {...props} />
    </div>
  )
}

<style>
  div,
  span {
    background: lightgreen;
  }
</style>
