---
import type { Props as $, TypedObject } from "astro-portabletext/types";
import { Counter } from "./Counter";

export type Props = $<TypedObject>;

const props = Astro.props;
const { isInline } = props;
---

{
  isInline ? (
    <span data-cmp="counter">
      <span>JSX Inline Counter</span>
      {` `}
      <Counter client:idle {...props} />
    </span>
  ) : (
    <div>
      <h4>JSX Block Counter</h4>
      <Counter client:idle {...props} />
    </div>
  )
}

<style>
  div,
  span {
    background: lightgreen;
  }
  div {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
  }
  span[data-cmp="counter"] {
    display: inline-block;
    min-width: 200px;
    text-align: center;
  }
  h4 {
    border: 2px dotted;
    padding: 2px;
  }
</style>
