{
  "**/*.{js,jsx,mjs,ts,tsx}": [
    "pnpm exec prettier -w **/*.{js,jsx,mjs,ts,tsx}",
    "pnpm lint"
  ],
  "**/*.astro": [
    "pnpm exec prettier -w **/*.astro"
  ],
  "**/*.svelte": [
    "pnpm exec prettier -w **/*.svelte"
  ]
}
