{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "plugins": [
    "./node_modules/prettier-plugin-astro/dist/index.js",
    "./node_modules/prettier-plugin-svelte/plugin.js"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    },
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
