---
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Default.astro";
import portable from "../data/portabletext.json";
---

<Layout heading="Default Example">
  <main>
    <PortableText value={portable} />
  </main>
</Layout>
