---
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Default.astro";
import { JsxCounter as Counter } from "../components/counter";
import portabletext from "../data/portabletext.json";
---

<Layout heading="JSX Static Example">
  <div data-portabletext>
    <PortableText
      value={portabletext}
      components={{
        type: {
          counter: Counter,
        },
      }}
    />
  </div>
</Layout>

<style>
  @import "../assets/styles.css";
</style>
