---
import type { Props as ComponentProps } from "../lib/types";
import { usePortableText } from "../lib/utils";

export type Props = ComponentProps;

const { node, isInline } = Astro.props;
const { onMissingComponent, getWarningMessage } = usePortableText(node);
const warning = getWarningMessage();

onMissingComponent(warning);
---

{
  isInline ? (
    <span style="display:none" data-portabletext-unknown="type">
      {warning}
    </span>
  ) : (
    <div style="display:none" data-portabletext-unknown="type">
      {warning}
    </div>
  )
}
