[data-portabletext] {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
[data-portabletext] blockquote {
  border-left: 2px solid;
  padding-left: 0.5rem;
}
[data-portabletext-type='counter'] {
  background: pink;
  padding: 0.25rem;
}
[data-portabletext-unknown] {
  border-color: green !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(201, 14, 76);
}
