---
import type { TextNode, Props as $ } from "astro-portabletext/types";

export type Props = $<TextNode>;

const { node } = Astro.props;
---

{
  node.text.split(" ").map((it, idx) =>
    idx === 0 ? (
      <>
        &nbsp;<span>{it}</span>
      </>
    ) : (
      it
    )
  )
}

<style>
  span {
    color: yellow;
  }
</style>
